<style>
title{
	
}
body{
	background:white;
}
h1{
	color:Navy;
	border-collapse: collapse;
	border-style: solid;
	border-color: black;
	border-width: 6px;
	background-color: OliveDrab;
	text-align: right;
	font-family: arial;
	text-shadow: 3px 3px 6px gray;
	font-size:50px;
}
h2{ 
	text-align:right;
}
#structura{
	color:OliveDrab;
	font-size:25px;
	text-align: center;
	
}
#specificatii {
	color:OliveDrab;
	font-size:30px;
	text-align:center;

}
table,tr, th, td {
  border-color:blue;
  border-collapse: collapse;
  border-style:double;
  color: black;
  font-size:30px;
  text-align: center;
  
}
h3{
	color:black;
	border-style:solid;
	border-collapse:collapse;
	border-color:red;
	border-width:3px;
	background: lightblue;
	
}
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>